<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/CSS/style.css">
</head>
<body>
    <div id="head">
        <header>
          <nav class="navbar">
            <a href="#" class="navBrand">Nexu<span>S</span>hop</a>
  
            <ul class="navMenu">
              <li class="navItem">
                <a href="../index.html" class="navLink" id="home">Home</a>
              </li>
              <li class="navItem">
                <a href="#devices" class="navLink" id="device">Devices</a>
              </li>
              <li class="navItem">
                <a href="#about" class="navLink">About</a>
              </li>
              <li class="navItem">
                <a href="#contact" class="navLink">Contact</a>
              </li>
              <li class="navButton">
                <a href="./signup.html" id="btn">Log in</a>
              </li>
            </ul>
            <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </nav>
        </header>
      </div>
      <div id="center">
            <h2>Log in</h2>

         <form id = "login">
            <div class="txt_field">
                <input type="text" name="name" id = "loginusername">
                <span></span>
                <label>Name</label>    
            </div>
            <div class="txt_field"> 
                <input type="password" name="password" id = "loginpassword">  
                <span></span>
                <label>Password</label>
            </div> 
            <input type="submit" id="submit" value="Login">
            <div class="signup_link">
                Not a member? <a href="./signup.html">Sign up</a>
            </div>
         </form>

    </div>
    <script src = "../assets/JS/login.js"></script>
</body>
</html>